body{
    background-image: url(./images/pexels-cesarperez209-733745.jpg );
    
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color:#444;
}

h1 h2 {
    font-weight: normal;
}
.wrapper{
    background-color: white;
    width:90%;
    max-width: 760px;
    margin:20px auto;
    box-shadow:1px 10px 10px;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightpink;

}
.mmovie {
background-image: url("./images/movie.jpeg");
    background-size: 100%;
    align-items: center;
    padding: 10px 0;
    color: #080a08;
}



.mmovie h1,
.mmovie p{
    text-align: center;
    width: 100%;
    margin: 10px 0;

}

#movie-list,
#add-movie{
    margin: 30px;
}



#movie-list ul {
    list-style: none;
    
}

#movie-list li {
    border-left: 5px solid #dad4d4;
    padding: 20 px red;
    margin: 20px 10px;
}
#movie-list li:hover {
    border-color: #9361bf;
}


    
.delete {
    float: right;
    background: #f70000;
    color: #ffffff;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    /* margin-left: 270px; */
}


.delete:hover {
    background: maroon;
}


#add-movie {
    width: 400px;
    margin: 0 auto;
    
}
#add-movie input {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 300px;
    float: left;
    clear: both;
}

#add-movie button {
    border: 1px solid green;
    background: green;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border-left: 0;
    color: white;
    margin: 20px 0;
}

#add-movie button:hover {
    background: darkgreen;
}

#add-movie:after{
    content: "";
    display : block;
    clear: both;
}
#add-movie label{
   line-height: 52px;
}
 